
body  {
  margin: 0px;
  background-color: #000000;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  overflow: hidden;
}
.game_container{
  margin: 0px;
  width: 1530px;
  /* height: 100%; */
  /* margin: 0px auto; */
  background: url(./img/bg-edited.jpg) no-repeat;
  position: absolute;
  height: 843px;
  transform: translate(-50%, 0px);
  top: 0px;
  left: 50%;
  padding: 0px;
}
@media screen and (max-width: 1500px) {
  .game_container{
    transform: translate(-50%, 0px) scale(.9);
    left: 50%;
    top: -62px;
  }
}
@media screen and (max-width: 1280px) {
  .game_container{
    transform: translate(-50%, 0px) scale(.8);
    left: 50%;
    top: -85px;
  }
}
@media screen and (max-width: 1024px) {
  .game_container{
    transform: translate(-50%, 0px) scale(.65);
    left: 50%;
    top: -146px;
  }
}
@media screen and (max-width: 768px) {
  .game_container{
    transform: translate(-50%, 0px) scale(.5);
    left: 50%;
    top: -210px;
  }
}
@media screen and (max-width: 736px) {
  .game_container{
    transform: translate(-50%, 0px) scale(.5);
    left: 50%;
    top: -210px;
  }
}
@media screen and (max-width: 500px) {
  .game_container{
    transform: translate(-50%, 0px) scale(.35);
    left: 50%;
    top: -274px;
  }
}

.winningContainer{
  z-index: 200;
    position: absolute;
    z-index: 200;

}
.winning{
  position: absolute;
  left: 0px;
  width: 292px;
  height: 400px;
  background: url("./img/$$$.jpg");
}
.winningLabel{
  text-transform: uppercase;
    text-align: center;
    color: #ccab44;
    bottom: 0px;
    position: absolute;
    font-size: 50px;
    font-family: system-ui;
    font-weight: 600;
    width: 1020px;
    left: 50%;
    transform: translateX(-50%);
}
.mask .winning:nth-child(2) {left: 342px;}
.mask .winning:nth-child(3) {left: 684px;}
.mask{/* background: #393ace63; */overflow: hidden;width: 975px;height: 400px;top: 215px;left: 271px;position: absolute;}
.slots {top: 2px;left: -762px;transform: scale(4.05);position: absolute;}
.item {width: 104px;height: 101px;transform-style: preserve-3d;transform-origin: 50px 50px -122px;position: relative;top: 37px;left: 209px;/* background: red; */}
.item.animate {
animation-name: rotateAnim;
animation-duration: 7s;
animation-timing-function: cubic-bezier(0.525, 0.915, 0.405, 1);
}
.item.state1 {
transform: rotateX(0deg);
transition: transform 1s;
transition-delay: 2s;
}
.item.state2 {
transform: rotateX(45deg);
transition: transform 1s;
transition-delay: 2s;
}
.item.state3 {
transform: rotateX(90deg);
transition: transform 1s;
transition-delay: 2s;
}
.item.state4 {
transform: rotateX(315deg);
transition: transform 1s;
transition-delay: 2s;
}
.item.state5 {
transform: rotateX(270deg);
transition: transform 1s;
transition-delay: 2s; 
}
.item.state6 {
transform: rotateX(225deg);
transition: transform 1s;
transition-delay: 2s;
}
.item.state7 {
transform: rotateX(135deg);
transition: transform 1s;
transition-delay: 2s;
}
.item.state8 {
transform: rotateX(180deg);
transition: transform 1s;
transition-delay: 2s;
}
.item:nth-child(2) {position: absolute;top: 37px;left: 294px;animation-delay: 0s;}
.item:nth-child(3) {position: absolute;left: 378px;animation-delay: 0s;top: 37px;}
.item div {position: absolute;width: 73px;height: 100px;background-size: contain;background-position: center center;background-repeat: no-repeat;/* background-color: #fff;
box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.5), inset 0px -1px 5px rgba(0, 0, 0, 0.5); */left: 17px;}
.item div:nth-child(2) {
top: 100px;
transform: rotateX(-45deg) translate3d(0px, 15px, -35px);
}
.item div:nth-child(3) {
top: 200px;
transform: rotateX(-90deg) translate3d(0px, 121px, -78px);
}
.item div:nth-child(4) {
top: -100px;
transform: rotateX(45deg) translate3d(0px, -15px, -35px);
}
.item div:nth-child(5) {
top: -200px;
transform: rotateX(90deg) translate3d(0px, -121px, -78px);
}
.item div:nth-child(6) {
top: 100px;
transform: rotateX(-45deg) rotateZ(-180deg) scale(-1, 1) translate3d(0px, -15px, -278px);
}
.item div:nth-child(7) {
top: -100px;
transform: rotateX(45deg) rotateZ(-180deg) scale(-1, 1) translate3d(0px, 15px, -278px);
}
.item div:nth-child(8) {
top: 0px;
transform: rotateX(0deg) rotateZ(-180deg) scale(-1, 1) translate3d(0px, 0px, -244px);
}
.item div:nth-child(9) {
background: #fff;
top: -72px;
height: 242px;
transform: rotateY(0deg) translate3d(0px, 0px, -122px);
}
.item div:nth-child(10) {
background: #fff;
top: 172px;
height: 242px;
transform: rotateX(-90deg) translate3d(0px, 122px, -244px);
}
@keyframes rotateAnim {
0% {
  transform: rotateX(0deg);
}
0% {
  transform: rotateX(4320deg);
}
}
.btn_container {background-color: #000;position: absolute;bottom: 190px;right: 222px;z-index: 2;cursor: pointer;}
.btn_container img{position: absolute;}
video{
  position: relative;
  width: 100%;
}
.hide{
  display: none;
}
.label{
  text-transform: uppercase;
  text-align: center;
  color: red;
  bottom: 139px;
  position: absolute;
  font-size: 44px;
  font-family: system-ui;
  font-weight: 600;
  width: 245px;
}
.finalImage{
  display: none;
  position: absolute;
  z-index: 999;
  top: 215px;
  left: 215px;
}
